doctype html 
html
  head
    title Backbancher classes 
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png")
                | BACKBANCHERS
            li #[a(href="/") Home]
            li #[a(href="/") list of teachers]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer
        | Copyright © 2023 backbanchers .com | All Rights Reserved
        